* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    /* overflow-x: hidden; */
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    max-width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    display: none;
}

/* postion  */

/* end postion  */

/* flex  */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

/* end flex  */
.navbar_header {
    /* background-color: #676767; */
}

.navbar_content {
    padding: 24px 60px;
}

.navbar_menu {
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 4rem;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.navbar_item_menu a {
    color: #000;

}

.navbar_contact a {
    padding: 10px 14px;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    background: #34D6BA;
    text-decoration: none;
}


.slider_header {
    width: 100%;
    height: 450px;
    background: url("./assets/slider-home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.slider_careers {
    background: url("./assets/icon_slider_careers.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider_descript_header {
    position: absolute;
    padding-left: 60px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.slider_title_header {
    color: var(--icon-color, #FFF);
    font-family: Cabin;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.slider_bottom_descript {
    color: #34D6BA;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slider_bottom_descript span {
    margin-right: 16px;
}

.button_link {
    background: #36F29D;
}

.btn_arlink {
    padding: 18px 60px;
}

.btn_menu_link {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_menu_link {
    display: flex;
    align-items: center;
}

.btn_menu_link span {
    min-width: 150px;

}

.btn_link_project {
    background: #34D6BA;
}

.total_project {
    border-bottom: 1px solid #CCC;

}

.total_content {
    padding: 40px 60px 80px;
}

.title_total_content {
    max-width: 262px;
    color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 28px;
}

.slider_header {
    margin-top: 81px;
}

.navbar_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

/* .item_content {
    display: flex;
    flex-direction: column;
} */
.item_content span {
    display: block;
}

.title_item_content {
    color: #26A891;
    font-family: Cabin;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper_items_content {
    gap: 115px;
}

.item_content {
    /* width: 100%; */
}

.line_bottom {
    height: 1px;
    margin: 12px 0;
    background: #D9D9D9;
}

.descript_title_item {
    color: #666;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_provide_service {
    padding: 60px;
}

.title_provide_service {
    max-width: 199px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.item_provide_service {
    display: flex;
    align-items: center;
    padding: 14px;
    min-width: 427px;

}

.left_provide_service {
    padding: 0;
    margin-right: 131px;
    margin-bottom: 0;
}

.left_provide_service li {
    margin-bottom: 8px;
}

.left_provide_service li a {
    border: 1px solid transparent;
}

.left_provide_service li a:hover {
    border: 1px solid #26A891;
}

.icon_item_service {
    margin-right: 18px;
}


.decript_item_service {
    margin-bottom: 0;
    color: #000;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right_carousel_body {
    width: 44%;
    background: #D8FFF8;
    padding-right: 60px;
    padding-left: 100px;
    padding-top: 60px;
}

.title_right_carousel {
    color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    display: block;
}

.wapper_right_carousel {
    position: relative;
    max-width: 441px;
    height: 100%;
}

.paragraph_right_carousel {
    color: #666;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.item_dot_carousel {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #CCC;
    margin-right: 8px;
    cursor: pointer;
}

.slidersShow {
    position: relative;
    transition: transform 0.5s ease;
    /* Chuyển đổi smooth */
}

.item_dot_carousel.active {
    background: #34D6BA;
}

.wapper_carousel_dot {
    position: absolute;
    bottom: 40px;
    left: calc(56% + 30%);
}

.warpper_carousel_body {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {

    /* from {
        opacity: .4
    }

    to {
        opacity: 1
    } */
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.left_carousel_body {
    height: 462px;
    width: 56%;
}

.left_carousel_body img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content_truesoft_career {
    padding: 0 60px;
    /* margin-top: 163px; */
    margin-top: calc(178px /2);
}

.box_truesoft_career {
    position: relative;
    background-image: url("./assets/img_career.svg");
    height: 347px;

}

.opacity_box_career {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(52, 214, 186, 0.50);
    backdrop-filter: blur(20px);
}

.group_truesoft_content {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.top_group_content {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    background: #36F29D;
}

.group_truesoft_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.top_group_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top_group_content .first_text {
    color: #000;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_group_content .last_text {
    color: #000;
    text-align: center;
    font-family: Cabin;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body_first_text {
    color: #000;
    text-align: center;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body_paragraph {
    color: #FFF;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body_group_content {
    text-align: center;

}

.body_first_text {
    display: block;
    margin-bottom: 12px;
}

.body_paragraph {
    width: 351px;
    display: block;
    margin: 0 auto;
}

.bottom_group_content {
    display: flex;
    padding: 10px 14px;
    border-radius: 4px;
    background: #34D6BA;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom_group_content img {
    margin-left: 10px;
}

.wrapper_content {
    padding: 60px;
}

.title_footer {
    display: block;
    width: 325px;
    color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wapper_contact {
    width: 1097px;
    margin: 0 auto;
    max-width: 100%;
}

.title_item_contact {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 90px;
    display: inline-block;
}

.item_contact_footer {
    display: flex;
    margin-bottom: 14px;
}

.descript_item_contact {
    color: #26A891;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.left_contact_footer {
    position: relative;
    background: #D8FFF8;
    width: 538px;
    padding: 40px;
}

.box_descript {
    position: absolute;
    width: 400px;
    height: 122px;
    left: -110px;
    bottom: -44px;
    border: 1px solid #26A891;
    z-index: -1;
}

.right_contact_footer {
    width: 537px;
    padding: 40px;
    background: #FFF;
    /* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10); */
    border: 1px solid #CCC;
    margin-left: 22px;
}

.wapper_contact {
    display: flex;
    align-items: center;
}

.textarea_contact textarea,
.input_contact input {
    font-family: Cabin;

}

.title_contact_input {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_dot_input {
    color: #DC3545;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input_contact input,
.input_contact label {
    display: block;
}

.textarea_contact textarea,
.input_contact input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #CCC;
    background: #FFF;
    outline: none;
    margin-top: 12px;
}

.message_contact,
.email_contact,
.wrapper_name_phone {
    margin-bottom: 20px;
}

.wrapper_name_phone .input_contact {
    width: 50%;
}

.right_contact_footer>div {
    gap: 20px;
}

.send_submit {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    background: #34D6BA;
    color: #000;
    display: flex;
    align-items: center;

    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.send_submit img {
    margin-left: 10px;
}

.bottom_footer {
    background: #F4F4F4;
}

.wrapper_content_bottom_footer {
    padding: 18px 60px;
}

.left_bottomFooter {
    color: #000;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right_bottomFooter {
    gap: 24px;
}

.right_provide_service img {
    width: 650px;
    max-width: 100%;
    height: 366px;
    object-fit: cover;
}

.navbar_logo {
    width: 160px;
    height: 33px;
}

.navbar_logo img {
    max-width: 100%;
}

.navbar_header_mobile,
.navbar_mobile {
    display: none;
}

/* page careers  */
.warpper_jobdescript {
    border-bottom: 1px solid #CCC;
}

.jobdecript_body {
    padding: 40px 60px 60px 60px;
}

.header_paragraph {
    color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descript_paragraph {
    display: block;
    max-width: 427px;
    margin-top: 24px;
    color: #666;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.descript_paragraph span {
    color: #26A891;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_jobdescript {
    margin-bottom: 40px;
}

.bottom_jobdescript .item_bottom_jd a {
    display: inline-block;
    width: 100%;
    color: #000;
    font-family: Cabin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 24px;
    border: 1px solid #CCC;
    background: #FFF;
    text-align: center;
}

.bottom_jobdescript {
    flex-wrap: wrap;
    gap: 20px;
}

.bottom_jobdescript .item_bottom_jd {
    width: calc(33.3333333% - 20px);
}

.bottom_jobdescript .item_bottom_jd .active {
    background-color: #D8FFF8;
    border: 1px solid transparent;

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_contact .btn {
    padding: 10px 14px;
    background: #E1E1E1;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.upload_contact {
    margin-bottom: 20px;
}

.upload_contact .title_contact_input {
    display: block;
    margin-bottom: 12px;
}

.upload-btn-wrapper .btn img {
    margin-right: 10px;
}

/* reponsive  */
/* mobile & tablet  */
@media (max-width:1440px) {}

/* tablet  */
@media (max-width:768px) {
    .top_jobdescript {
        margin-bottom: 28px;
    }

    .bottom_jobdescript .item_bottom_jd a {
        font-size: 24px;
        height: 100%;
        text-align: left;
    }

    .jobdecript_body {
        padding: 40px 24px 60px 24px;
    }

    .bottom_jobdescript .item_bottom_jd {
        width: calc(50% - 10px);
    }


    .navbar_content {
        padding: 18px 24px;
    }

    .navbar_logo {
        width: 125px;
        height: 23.169px;
    }

    .descript_title_item,
    .slider_bottom_descript,
    .navbar_menu {
        font-size: 14px;
    }

    .navbar_contact a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .slider_header {
        height: 240px;
    }

    .slider_descript_header {
        padding-left: 24px;
        bottom: 24px;
    }

    .slider_title_header {
        font-size: 28px;
    }

    .btn_arlink {
        padding: 14px 24px;
    }

    .total_content {
        padding: 40px 24px 60px 24px;
    }

    .title_total_content {
        font-size: 24px;
        max-width: 225px;
    }

    .title_item_content {
        font-size: 28px;
    }

    .line_bottom {
        margin: 8px 0;
    }

    .content_provide_service {
        padding: 40px 24px;
    }

    .title_provide_service {
        font-size: 24px;
        max-width: 171px;
        margin-bottom: 28px;
    }

    .off_provide_service {
        flex-direction: column;
        gap: 28px;
    }

    .right_carousel_body,
    .left_carousel_body,
    .right_provide_service img,
    .right_provide_service,
    .left_provide_service {
        width: 100%;
    }

    .item_provide_service {
        min-width: 0;
    }

    .left_provide_service {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .left_provide_service li {
        width: calc(50% - 10px);

    }

    .warpper_carousel_body {
        flex-direction: column-reverse;
    }

    .right_carousel_body {
        padding: 40px 24px 40px 24px;
    }

    .left_carousel_body {
        height: 432px;
    }

    .top_group_content {
        width: 150px;
        height: 150px;
    }

    .top_group_content .first_text {
        font-size: 14px;
    }

    .top_group_content .last_text {
        font-size: 36px;
    }

    .content_truesoft_career {
        padding: 0 24px;
        /* margin-top: 144px; */
        margin-top: calc(150px /2);
    }

    .group_truesoft_content {
        width: 527px;
        max-width: 100%;
    }

    .wrapper_content {
        padding: 60px 24px 40px 24px;
    }

    .title_footer {
        margin-bottom: 28px;
    }

    .wapper_contact {
        flex-direction: column;
    }

    .box_descript {
        display: none;
    }

    .right_contact_footer {
        margin-left: 0;
        margin-top: 22px;
        width: 600px;
        max-width: 100%;
    }

    .left_contact_footer {
        width: 600px;
        max-width: 100%;

    }

    .wrapper_content_bottom_footer {
        padding: 14px 24px;
    }
}

/* mobile */
@media (max-width:525px) {
    .item_dot_carousel {
        width: 14px;
        height: 14px;
    }

    .jobdecript_body {
        padding: 40px 16px;
    }

    .descript_paragraph {
        min-height: 102px;
    }

    .slider_header.slider_careers {
        background: url("./assets/img_banner_mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right_carousel_body {
        padding: 40px 16px 28px 16px;
    }

    .wapper_carousel_dot {
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar_header_mobile {
        position: fixed;
        z-index: 10;
        background: #fff;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    }

    /* .navbar_logo {
        margin-left: 34px;
    } */
    .navbar_mobile {
        display: flex;
        flex-direction: column;
        gap: 28px;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1000;
        width: 65%;
        height: 100%;
        padding: 40px;
        background: #FFF;
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.15);
        transition: left 0.3s ease-in-out;
    }

    .navbar_mobile .navbar_menu {
        flex-direction: column;
        align-items: start;
        height: auto;
        gap: 28px;
    }

    .title_right_carousel,
    .title_footer {
        font-size: 24px;
    }

    .paragraph_right_carousel {
        font-size: 14px;
    }

    .left_bottomFooter {
        font-size: 12px;
    }

    .content_truesoft_career {
        padding: 0;
    }

    .right_contact_footer,
    .left_contact_footer {
        padding: 24px;
    }

    .navbar_header {
        display: none;
    }

    .navbar_content {
        padding: 16px;
    }

    .navbar_header_mobile {
        display: block;
    }

    .navbar_logo {
        width: auto;
    }

    .slider_header {
        height: 468px;
        background: url("./assets/img_header_mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 67px;
    }

    .slider_title_header {
        max-width: 279px;
    }

    .slider_descript_header {
        padding-left: 16px;
        bottom: 40px;
    }

    .total_content {
        padding: 40px 16px;
    }

    .wrapper_items_content {
        flex-direction: column;
        gap: 28px;
    }

    .content_provide_service {
        padding: 40px 16px;
    }

    .left_provide_service {
        flex-direction: column;
    }

    .left_provide_service li {
        width: 100%;
    }

    .warpper_carousel_body {
        flex-direction: column-reverse;
    }

    .right_provide_service img {
        height: 202px;
    }

    .left_carousel_body,
    .right_carousel_body {
        width: 100%;
    }

    .left_carousel_body {
        height: 219px;
    }

    .body_first_text {
        font-size: 18px;
    }

    .body_paragraph {
        font-size: 14px;
    }

    .group_truesoft_content {
        width: 355px;
        padding: 0 16px;
    }

    .body_group_content {
        width: 100%;
    }

    .body_paragraph {
        width: 100%;
        padding: 0 16px;
    }

}